body {
    background-color: green;
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}
p {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav ul {
    text-align: center;
    display: flex;
   
}
ul {
    text-align: center;
}
ul li {
     padding: 15px;
     list-style-type: none;
}
a:hover {
    /* border-radius: 3px;
    padding: 10px; */
    background-color:rgb(234, 235, 255);
}